<div class="container">
  <div
    style="
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 2em;
      padding-bottom: 1em;
    "
  >
    <button mat-icon-button routerLink="">
      <mat-icon style="color: white;">stars</mat-icon>
    </button>
    <span
      style="color: white; display: flex; align-items: center; font-size: 20px;"
      >Apple</span
    >
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex>
        
      <mat-card class="container-card">
        <div *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></div>    
        <form (ngSubmit)="onSubmit(authForm)" #authForm="ngForm" *ngIf="!isLoading">
          <h2>Login</h2>

          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>E-mail</mat-label>
            <input
              type="email"
              matInput
              ngModel
              name="email" required [(ngModel)]="email"
            /> </mat-form-field
          ><br />

          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              ngModel name="password" required [(ngModel)]="password"
            /> </mat-form-field 
          ><br />
          <button type="submit" mat-raised-button color="primary" [disabled]="!authForm.valid">{{ loginMode ? 'Login' : 'Sign Up'}}</button> &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="switchMode()" color="accent">Switch to {{ loginMode ? 'Sign Up' : 'Login'}}</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
