<mat-card style="margin: 1em;">
  <div class="search-div">
   
    <mat-form-field appearance="outline">
      <input type="text" matInput [(ngModel)]="searchKey" placeholder="search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()"><mat-icon>close</mat-icon></button>

    </mat-form-field>
  </div>
  <table class="table" *mobxAutorun>
    <thead class="thead-dark">
      <tr>
       
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Sports</th>
        <th scope="col">Donation</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cust of CustomerStore.allItems|filter:searchKey |paginate: { itemsPerPage: 10, currentPage: page }">
       
        <td>{{cust.name}}</td>
        <td>{{cust.mobile}}</td>
        <td>{{cust.address}}</td>
        <td>{{cust.sports}}</td>
        <td>{{cust.donation}}</td>
        <td> <button type="button" class="btn btn-primary" (click)="edit(cust)" data-toggle="modal" data-target="#editmodel">Edit</button>
        &nbsp;<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delmodel">Delete</button></td>
      </tr>
     
    </tbody>
  </table>
  <br>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  
  
</mat-card>


 <!-- Modal  delete confirm-->
 <div class="modal fade" id="delmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *mobxAutorun>
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h4>Are you Sure Want to Delete?</h4> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal  edit product-->
<div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *mobxAutorun>
        <h3 class="modal-title" id="exampleModalLabel">Edit Product</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mandoForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName = "name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mobile:</label>
            <input type="tel" class="form-control" id="message-text" formControlName = "mobile">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Sports:</label>
            <input type="tel" class="form-control" id="message-text" formControlName = "sports">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Donations:</label>
            <input type="tel" class="form-control" id="message-text" formControlName = "donation">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Address:</label>
            <textarea  class="form-control" id="message-text" formControlName = "address"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

